body > header > nav > div > ul{
    color: black;
}
.brand-logo{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 760px){
    .brand-logo{
        margin-left: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    nav ul li a {
        color: #616161;
    }
    nav ul{
        margin-right: 50px;
    }
}